<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="Demo application" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url('/favicon.ico') }}" />
  <link rel="manifest" href="{{ url('/manifest.webmanifest') }}" />

  <title>{% block title %}{% endblock %} | Code Easy Slim Skeleton</title>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
